/* --------------GLOBAL-------------- */
body {
  font-family: nobel, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: 600;
}

.textcenter {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
/* --------------HEADER-------------- */
header {
  font-family: clarendon-text-pro, serif;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
}

#title {
  display: inline;
  text-align: right;
  color: black;
}

nav li {
  list-style: none;
}

nav li a,
nav a {
  text-decoration: none;
}

#hamburger {
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
}
.active {
  color: rgb(20, 35, 255);
}

nav {
  overflow: hidden;
  position: relative;
  color: black;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
}

#hamburger {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  color: black;
}
/* --------------MAIN-------------- */
.bannerpic {
  display: inline-block;
}

.heading {
  /* border: 1px solid blue; */
  border-top: 1px solid black;
  font-weight: 600;
  background-color: rgb(206, 206, 206);
}

.first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: none;
}

.last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child {
  background-color: rgb(243, 243, 243);
  border-left: rgb(206, 206, 206) 8px solid;
  border-right: rgb(206, 206, 206) 8px solid;
  border-bottom: rgb(206, 206, 206) 8px solid;
}

form {
  border: 3px navy solid;
  border-radius: 5px;
}

input,
textarea {
  background-color: rgb(206, 206, 206);
  border: none;
  width: 100%;
  /* this padding will be standard on all pages */
  padding: 3px;
}
textarea {
  width: 100%;
  resize: vertical;
}

#submit {
  background: transparent;
  border: none;
  color: navy;
}

.fa-chevron-down,
.fa-chevron-up {
  float: right;
}

#outside,
#near {
  display: inline;
  width: 10px;
}
/* --------------FOOTER-------------- */
footer {
  text-align: center;
  background-color: navy;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* --------------MOBILE-------------- */

@media only screen and (max-width: 600px) {
  /* GLOBAL */
  body {
    font-size: 12pt;
    margin: 0;
  }
  /* HEADER */
  header {
    font-size: 20pt;
  }
  nav li a {
    font-size: 12pt;
    color: black;
  }
  #title {
    font-size: 5vw;
    margin: 13px;
  }
  #links,
  #logo {
    display: none;
  }

  #hamburger {
    font-size: 24px;
  }

  nav a {
    padding: 14px 16px;
    font-size: 17px;
  }
  /* MAIN */

  .bannerpic {
    height: 100px;
    width: 123px;
    margin: 0px;
    padding: 0;
    overflow: hidden;
  }
  
  .bannerpic img {
      margin: -10px 0px 0px -180px;
  }

  }
  p {
    margin: 0;
  }
  .heading {
    padding: 10px;
  }
  .fa-chevron-down,
  .fa-chevron-up {
    position: relative;
    top: 5px;
  }
  .child {
    padding: 20px;
  }
  .type {
    margin: 15px;
    margin-bottom: 100px;
  }
  form {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  input,
  textarea {
    margin-bottom: 20px;
  }
  #submit {
    font-weight: 100;
    font-size: 20px;
  }
  /* FOOTER */
  footer p {
    font-size: 9pt;
  }

  small {
    font-size: 7pt;
  }
}
