/* --------------RESET CODE-------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------GLOBAL-------------- */
body {
  font-family: nobel, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  font-size: 12pt;
  margin: 0;
  line-height: 1.6;
}

.bold {
  font-weight: 600;
}

.textcenter {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
/* --------------HEADER-------------- */
header {
  font-family: clarendon-text-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}

header {
  width: 100%;
}
#logo {
  height: 60px;
  margin: 10px;
}

#title {
  display: inline;
  color: black;
  font-size: 3vw;
}

nav ul,
nav li {
  list-style: none;
  display: inline-block;
}

nav li a,
nav a {
  text-decoration: none;
  font-size: 14pt;
  color: black;
  padding-right: 30px;
  padding-top: 30px;
}

#hamburger {
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: 32px;
}

#links {
  color: black;
  float: right;
}
.active {
  color: rgb(20, 35, 255);
}

nav {
  overflow: hidden;
  position: relative;
  color: black;
}

nav li a {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  text-align: center;
}

#hamburger {
  display: none;
}
/* --------------MAIN-------------- */

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.heading {
  border-top: 1px solid black;
  font-weight: 600;
  background-color: rgb(206, 206, 206);
  padding: 20px;
  font-size: 20px;
}

.first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: none;
}

.last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child {
  background-color: rgb(243, 243, 243);
  border-left: rgb(206, 206, 206) 8px solid;
  border-right: rgb(206, 206, 206) 8px solid;
  border-bottom: rgb(206, 206, 206) 8px solid;
  padding: 20px;
}

form {
  border: 3px navy solid;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  background-color: rgb(206, 206, 206);
  border: none;
  width: 100%;
  padding: 3px;
  margin-bottom: 25px;
}
textarea {
  width: 100%;
  resize: vertical;
}

#submit {
  background: transparent;
  border: none;
  color: navy;
  width: 100%;
  text-align: right;
  font-weight: 100;
  font-size: 25px;
}

.fa-chevron-down,
.fa-chevron-up {
  float: right;
  position: relative;
  top: 5px;
}

.type {
  margin: 35px 300px;
  margin-bottom: 120px;
}

#outside,
#near {
  display: inline;
  width: 10px;
}
/* --------------FOOTER-------------- */
footer {
  text-align: center;
  background-color: navy;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 10pt;
}

small {
  font-size: 7pt;
}

/* --------------TABLET-------------- */

@media only screen and (max-width: 1023px) {
  /* GLOBAL */
  body {
    font-size: 12pt;
    margin: 0;
  }
  /* HEADER */
  header {
    font-size: 20pt;
  }
  nav ul,
  nav li {
    display: block;
  }
  nav li a {
    font-size: 12pt;
    color: black;
    padding-left: 0px;
  }
  #title {
    font-size: 5vw;
  }
  #links {
    display: none;
  }
  #logo {
    height: 40px;
    margin: 10px;
  }
  #hamburger {
    background-color: white;
    font-size: 28px;
    padding-top: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    color: black;
  }
  /* MAIN */
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
  .heading {
    padding: 10px;
  }
  .fa-chevron-down,
  .fa-chevron-up {
    position: relative;
    top: 5px;
  }
  .child {
    padding: 20px;
  }
  .type {
    margin: 35px 100px;
    margin-bottom: 100px;
  }
  form {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  input,
  textarea {
    margin-bottom: 25px;
  }
  #submit {
    font-weight: 100;
    font-size: 25px;
  }
  /* FOOTER */
  footer p {
    font-size: 10pt;
  }

  small {
    font-size: 7pt;
  }
}

/* --------------MOBILE-------------- */

@media only screen and (max-width: 600px) {
  /* GLOBAL */
  body {
    font-size: 12pt;
    margin: 0;
  }
  /* HEADER */
  header {
    font-size: 20pt;
  }
  nav li a {
    font-size: 12pt;
    color: black;
  }
  #title {
    font-size: 5vw;
  }
  #links,
  #logo {
    display: none;
  }

  #hamburger:target #links {
    display: block;
  }

  #hamburger {
    font-size: 20px;
    padding-top: 7px;
  }
  /* MAIN */
  h1 {
    font-size: 20px;
  }
  p {
    margin: 0;
  }
  .heading {
    padding: 10px;
    font-size: 16px;
  }
  .fa-chevron-down,
  .fa-chevron-up {
    position: relative;
    top: 5px;
  }
  .child {
    padding: 20px;
  }
  .type {
    margin: 15px;
    margin-bottom: 100px;
  }
  form {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  input,
  textarea {
    margin-bottom: 20px;
  }
  #submit {
    font-weight: 100;
    font-size: 20px;
  }
  /* FOOTER */
  footer p {
    font-size: 9pt;
  }

  small {
    font-size: 7pt;
  }
}
